fastapi>=0.70.0,<1.0.0
pydantic>=2.0.0,<3.0.0
uvicorn>=0.15.0,<0.16.0
python-dotenv>=1.0.0
seqlog>=0.3.27
fastapi_azure_auth>=3.5.1
numpy>=1.21.4,<1.22
spacy<=3.4
scipy==1.7.3
rake_nltk>=1.0.6
scikit-learn<=1.2.0
pandas<=2.0.0
deep-translator==1.11.4
transformers==4.46.0
torch==2.5.0
sentencepiece==0.2.0
sacremoses==0.1.1
pydantic_settings